$xsmall-screen: '(max-width: 575px)';
$small-screen: '(min-width: 576px) and (max-width: 767px)';
$medium-screen: '(min-width: 768px) and (max-width: 991px)';
$large-screen: '(min-width: 992px) and (max-width: 1199px)';
$xlarge-screen: '(min-width: 1200px)';