$header-bg: #fff;
$main-bg: #F2F3F5;
$footer-bg: #2A3541;

$black: #333;
$dark-gray: #666;
$gray: #999;
$light-gray: #DDD;

$yellow: #FFD012;
$yellow-hover: #FFDE58;
$yellow-active: #EEBF00;

$green: #4EBD17;
$green-hover: #73DE25;
$green-active: #289B08;

$blue: #3385E4;
$blue-hover: #4FB1F4;
$blue-active: #1658D3;

$red: #D0021B;
$red-hover: #EA032B;
$red-active: #B5000A;

$light-yellow-bg: rgba(255, 249, 230, .8);
$light-blue: #3D88DF;

$panel-orange-bg: #F98A10;
$panel-green-bg: #6DBF6E;
$panel-blue-bg: #3660AE;

$azure: #00A8F1;
